@value blueColor, grayLightColor, whiteColor from '../styles/variables.css';

.container {
  padding: 40px 80px;
  text-align: center;
  width: 100%;
  background: linear-gradient(to bottom right, whiteColor 0%, grayLightColor 100%);
}

.heading {
  margin-bottom: 40px;
}

.body {
  line-height: 1.75;
}

.link {
  color: blueColor;
}
