@value blueColor, grayLightColor, whiteColor from '../styles/variables.css';

.container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom right, whiteColor 0%, grayLightColor 100%);
}

.form {
  display: flex;
  flex-direction: column;
}

.register {
  font-size: 12px;
  text-align: center;
  margin-top: 12px;
}

.registerLink {
  color: blueColor;
}
